{% extends 'based.html' %}


{% block body_block %}



 
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Doctor Profile</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index-2.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li><a class="parent-item" href="#">Doctors</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">Doctor Profile</li>
                            </ol>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN PROFILE SIDEBAR -->
                            <div class="profile-sidebar">
                                <div class="card card-topline-aqua">
                                    <div class="card-body no-padding height-9">
                                        <div class="row">
                                            <div class="profile-userpic">
                                                <img src="/media/{{doc.profile_pic}}" class="img-responsive" alt=""> </div>
                                        </div>
                                        <div class="profile-usertitle">
                                            <div class="profile-usertitle-name"> {{doc.d_name}} </div>
                                            <div class="profile-usertitle-job"> {{doc.d_spec}} </div>
                                        </div>
                                        <ul class="list-group list-group-unbordered">
                                            <li class="list-group-item">
                                                <b>Total Patients</b> <a class="pull-right">{{tot_pat}}</a>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Total Appointments</b> <a class="pull-right">{{tot_app}}</a>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Work Experience</b> <a class="pull-right">{{doc.d_work_exp}}</a>
                                            </li>
                                            
                                        </ul>
                                        <!-- END SIDEBAR USER TITLE -->
                                        <!-- SIDEBAR BUTTONS -->
                                        
                                        <!-- END SIDEBAR BUTTONS -->
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-head card-topline-aqua">
                                        <header>About Me</header>
                                    </div>
                                    <div class="card-body no-padding height-9">
                                        <div class="profile-desc">
                                            Hello I am {{doc.d_name}} a {{doc.d_spec}} in {{doc.d_hospital_id.hos_name}}. I love to work with all my hospital staff and seniour doctors.
                                        </div>
                                        <ul class="list-group list-group-unbordered">
                                            <li class="list-group-item">
                                                <b>Gender </b>
                                                <div class="profile-desc-item pull-right">{{doc.d_gender}}</div>
                                            </li>
                                            
                                             <li class="list-group-item">
                                                <b>Degree </b>
                                                <div class="profile-desc-item pull-right">{{doc.d_degree}}</div>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Designation</b>
                                                <div class="profile-desc-item pull-right">{{doc.d_spec}}</div>
                                            </li>
                                        </ul>
                                       <br>
                                    </div>
                                </div>
                                
                                
                            </div>
                            <!-- END BEGIN PROFILE SIDEBAR -->
                            <!-- BEGIN PROFILE CONTENT -->
                            <div class="profile-content">
                                <div class="row">
                                     <div class="card">
                                         <div class="card-head card-topline-aqua">
                                             <header></header>
                                         </div>
                                         <div class="card-body no-padding height-9">
                                             <div class="container-fluid">
												<div class="row">
													<div class="col-md-12">
														<div class="tabbable-line">
															<ul class="nav nav-tabs">
																<li class="active"><a href="#tab1" data-toggle="tab"> About Me </a></li>
																
															</ul>
															<div class="tab-content">
																<div class="tab-pane active fontawesome-demo" id="tab1">
																	<div class="row">
																		<div id="biography" >
										                                    <div class="row">
										                                        <div class="col-md-3 col-xs-6 b-r"> <strong>Full Name</strong>
										                                            <br>
										                                            <p class="text-muted">{{doc.d_name}}</p>
										                                        </div>
										                                        <div class="col-md-3 col-xs-6 b-r"> <strong>Mobile</strong>
										                                            <br>
										                                            <p class="text-muted">{{doc.d_phone_no}}</p>
										                                        </div>
										                                        <div class="col-md-3 col-xs-6 b-r"> <strong>Email</strong>
										                                            <br>
										                                            <p class="text-muted">{{doc.d_email}}</p>
										                                        </div>
										                                        
										                                    </div>
										                                    <hr>
										                                    <br>
										                                    <br>

										                                    
										                                    
										                                </div>
																	</div>

																</div>
																
															</div>
														</div>
													</div>
												</div>
											</div>
                                         </div>
                                     </div>
                                     <div class="card">
                                    <div class="card-head card-topline-aqua">
                                        <header>Address</header>
                                    </div>
                                    <div class="card-body no-padding height-9">
                                        <div class="row text-center m-t-10">
                                    <div class="col-md-12">
                                        {{doc.d_address}}
                                    </div>
                                </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-head card-topline-aqua">
                                        <header>Work Progress</header>
                                    </div>
                                    <div class="card-body no-padding height-9">
                                        <div class="work-monitor work-progress">
                                            <div class="states">
                                                <div class="info">
                                                    <div class="desc pull-left">OPD</div>
                                                    <div class="percent pull-right">50%</div>
                                                </div>
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                                        <span class="sr-only">50% </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="states">
                                                <div class="info">
                                                    <div class="desc pull-left">Operations</div>
                                                    <div class="percent pull-right">85%</div>
                                                </div>
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                                        <span class="sr-only">85% </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="states">
                                                <div class="info">
                                                    <div class="desc pull-left">Patient visit</div>
                                                    <div class="percent pull-right">20%</div>
                                                </div>
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                                                        <span class="sr-only">20% </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <!-- END PROFILE CONTENT -->
                            </div>
                        </div>
                    </div>
                
                <!-- end page content -->
                <!-- start chat sidebar -->
                
                <!-- end chat sidebar -->
            



{% endblock %}
