{% extends 'basep.html' %}


{% block body_block %}

<div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Appointment List</div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-topline-red">
                                <div class="card-head">
                                    <header></header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
	                                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
	                                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="btn-group pull-right">
                                                <button class="btn green-bgcolor  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-print"></i> Print </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle" id="example4">
                                        <thead>
                                            <tr>
                                            	
                                                <th> Doctor Name </th>
                                                <th>Doctor Email </th>
                                                <th> Date Of Appointment </th>
                                                <th> From </th>
                                                <th> To </th>
                                                <th> Doctor Mobile </th>
                                                
                                                <th>Injury/Condition</th>
                                                <th>Note</th>

                                                <th> confirmed </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        	{% for i in app %}
                                            
                                            <tr class="odd gradeX">
                                                
                                                <td>{{i.cons_doctor.d_name}}</td>
                                                <td><a href="mailto:shuxer@gmail.com">
                                                        {{i.cons_doctor.d_email}} </a></td>
                                                <td class="center">{{i.date_of_appointment}}</td>
                                                <td class="center">{{i.from_time}}</td>
                                                <td class="center">{{i.to_time}}</td>
                                                <td><a href="tel:444543564">
                                                        {{i.cons_doctor.d_phone_no}} </a></td>
                                                
                                                <td>{{i.condition}}</td>
                                                <td>{{i.note}}</td>

                                                <td>
                                                    {% if i.confirm %}
                                                        <i class="fa fa-check"></i>
                                                    {% else %}    
                                                        <i class="fa fa-times"></i>
                                                    {% endif %}    
                                                    	
                                                    
                                                   
                                                </td>
                                            </tr>





                                            

											{% endfor %}
											
										</tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>




{% endblock %}