{% extends 'basep.html' %}
{% load static %}

{% block body_block %}
<style type="text/css">
    body {
        background-image: url({% static 'assets/images/background.jpeg' %});
    }
</style>
<!-- ====================================================
            ================= CONTENT ===============================
            ===================================================== -->
<div id="wrap"  class="animsition" style="animation-duration: 10s; opacity: 1;">
    <div class="page page-gallery">

        <div class="pageheader">

            <h2>Blood Reserves</h2>
            <h3><span>Showing all major <strong>Blood Banks</strong> across India</span></h3>
        </div>
    </div>
    <div class="container" style="width:100%;">
        <div class="row">
        {% for bank in a %}
            <div class="col-sm-2 col-md-3 col-lg-3">                    
                <div class="well" style="padding: 2em;height: 300px;background-color: antiquewhite;">
                    <table style="width:100%;">
                        <tbody>      
                            <tr>    
                                <td>
                                    <h3>
                                        {{ bank.0}}.)
                                        {{ bank.4}}
                                    </h3>
                                    <br>
                                    <div class="row" style="width: 80%;">
                                        <div class="col-md-8">
                                           <h5><strong>{{ bank.3 }}</h5></strong>
                                            <h4><strong>{{ bank.1 }}</strong></h4>    
                                        </div>
                                        <div class="col-md-4">
                                            <span class="label label-success" style="font-size: 20px;text-align: center;">Available</span>     
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

        <!--/ CONTENT -->
    <center>
    {% if a.has_other_pages %}
      <ul class="pagination">
        {% if a.has_previous %}
          <li><a href="?page={{ a.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in a.paginator.page_range %}
          {% if a.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if a.has_next %}
          <li><a href="?page={{ a.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
    </center>
</div>
{% endblock %}