{% extends 'basep.html' %}

{% block body_block %}
<head>
<meta name="viewport" content="width=device-width">
	<title></title>
</head>
<body>
    <div>
        {{invoice.i_amount}}
    </div>
    




<form action="/purchase" method="POST">
<!-- Note that the amount is in paise = 50 INR -->
<script

    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_PhAAO4D8oLBBxX"
    data-amount="{{invoice.i_amount}}"
    data-buttontext="Pay with Razorpay"
    data-name="Merchant Name"
    data-description="Purchase Description"
    data-image="https://your-awesome-site.com/your_logo.jpg"
    data-prefill.name="Harshil Mathur"
    data-prefill.email="support@razorpay.com"
    data-theme.color="#F37254"
></script>
<input type="hidden" value="Hidden Element" name="hidden">
</form>

<script type="text/javascript">
    console.log({{invoice.i_amount}});

</script>
</body>
{% endblock %}
