{% extends 'basep.html' %}
{% block body_block  %}

<div class="page-bar">
  <div class="page-title-breadcrumb">
    <div class=" pull-left">
      <div class="page-title">Search </div>
    </div>
    
  </div>
</div>


<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="card card-topline-yellow">
      <div class="card-head">
        <header>Search</header>
      </div>

      <div class="card-body" id="bar-parent">




        <form action="/search/" id="contact_form" class="form-horizontal" method="POST">
          {% csrf_token %}
          <div class="form-body">


            <div class="form-group">
              <label class="control-label col-md-3">Doctor type
                <span class="required"> * </span>
              </label>
              <div class="col-md-5">
                <select class="form-control input-height" name="type">
                  <option value="" >Type</option>
                  <option value="pediatrician">pediatrician</option>
                  <option value="cardiologist" >cardiologist</option>
                  <option value="general-surgeon">general-surgeon</option>
                  <option value="general-dentist">general-dentist</option>

                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">name
              </label>
              <div class="col-md-5">
                <input type="text" placeholder="Injury/Condition" class="form-control input-height" name="name" />
              </div>
            </div>
            <div class="form-actions">
              <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">Submit</button>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>






{% if v %}
<div class="row">
                        <div class="col-md-12">
                            <div class="card card-topline-red">
                                <div class="card-head">
                                    <header></header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                      <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                      <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="btn-group pull-right">
                                                <button class="btn green-bgcolor  btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                                    <i class="fa fa-angle-down"></i>
                                                </button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-print"></i> Print </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-file-pdf-o"></i> Save as PDF </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-file-excel-o"></i> Export to Excel </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column valign-middle" id="example4">
                                        <thead>
                                            <tr>
                                              
                                                <th>  Image </th>
                                                <!-- <th> Title </th> -->
                                                <th> Name  </th>
                                                <th> gender </th>
                                                <th> Specialities </th>
                                                <th> Mobile/office </th>
                                                
                                                <th>Bio</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                          {% for i in data %}
                                          
                                            
                                            <tr class="odd gradeX">
                                             <td style="width:110px"><img src="{{i.profile.image_url}}"></td> 
                                             <!-- <td>{{i.profile.title}}</td> -->
                                             <td>{{i.profile.first_name}} {{i.profile.middle_name}} {{i.profile.last_name}} </td> 
                                             <td>{{i.profile.gender}}</td>

                                             <td>{% for j in i.specialties %}
                                             {{j.uid}},
                                                  {% endfor %}</td>
                                             <td>{{i.practices.0.phones.0.number}}</td> 
                                             <td>{{i.profile.bio}}</td>  



                                                
                                            </tr>

{% endfor %} 




                                            

                      
                    </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}









<!-- <form class="well form-horizontal" action="/search/" method="post" id="contact_form">
    {% csrf_token %}
  <select name="type" class="form-control selectpicker" >
      <option value="" >Type</option>
      <option value="pediatrician">pediatrician</option>
      <option value="cardiologist" >cardiologist</option>
      <option value="general-surgeon">general-surgeon</option>
      <option value="general-dentist">general-dentist</option>
     
  </select> 
  <input name="name" placeholder="Last Name" class="form-control"  type="text">
  <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button> 
  <br /> -->

  

  {% endblock %}